@import 'src/styles/_vars.scss';


.footer {
  background-color: $eerie-black;
  margin:1rem;
  border-radius:5px;
  &-upper {
    display: flex;
    color: $gainsboro;
    & h3 {
      font-size:1.5em;
      margin-left:0.6rem;
      margin-bottom:1.4rem;
    }
    &-links, &-contacts {
      padding:0.5rem;
      color: $gainsboro;
      & li {
        margin:0.3rem;
        font-size: 1.1em;
      }
      & a {
        font: size 1.1rem;
        margin:0.3rem;
      }
      }
    &-contacts a {
    font-size: 1.5rem;
  
    }
  }

  &-bottom {
    color: $gainsboro;
    text-align:center;
    padding-bottom:0.5rem;
  }
}


@media (max-width: 750px) {
  .footer {
    margin:0;
    border-radius:0;
    &-upper {
      display: flex;
      & h3 {
        font-size:1.1em;
        margin-left:0.6rem;
        margin-bottom:1rem;
      }
      &-links, &-contacts {
        padding:0.5rem;
        & li {
          font-size: 1em;
        }
        & a {
          font: size 1.1rem;
        }
        }
      &-contacts a {
      font-size: 1.5rem;
      }
    }
    &-bottom {
      text-align:center;
      padding-bottom:0.1rem;
      font-size:0.6em;
    }
  }
}