@import 'src/styles/_vars.scss';
.mentions {
  margin-top: 4rem;
  height: 100vh;
  padding:2rem;

  & h1 {
      font-size: 2.5em;
      color: $dark-cerulean;
  }

  & p {
    margin-top: 4rem;
    font-size: 1.5em;
  }
}
