@import 'src/styles/_vars';

.project {
    width: 70%;
    margin: auto;

    & img {
        border-radius:15px;
        box-shadow: 0 0 2rem  gray;
    }

    &-title, &-presentation, &-team, &-description {
        font-weight: 600;

    }

    &-title {
        color: $dark-cerulean;
        text-align: center;
    }

    &-heading {
        text-align: center;
        margin-bottom: 4rem;
        color: $dark-cerulean;
    }

    &-intro {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4em;
        &-inputs {
            .input-title {
                font-size: 1.2em;
                font-weight: 600;
                color: $dark-cerulean;
            }
        }
    }

    &-filter {
        padding: 3rem;
        display:flex;
        justify-content:space-around;
        margin:auto;
        & h3 {
           text-align:center;
           font-weight:700;
           font-size:1.7rem;
           color: $dark-cerulean;
        }
        
    }

    &-links {
        display: flex;
        flex-wrap: wrap;
        margin: 2em 0 4em;
        font-size: 1.2em;
        &-left {
            width: 45%;
        }
        &-right {
            &>ul>li {
                padding: .5em;
            }
        }
        &-validation {
            display: flex;
            &>input {
                height: 20px;
                width: 20px;
            }
            &>button {
                margin-bottom: 4em;
            }
        }
    }

}

// .add-file {
//     margin-bottom: 2em;
// }

.project-validation {
    margin: 0 2em;
    font-size: 1.2em;
}

// RESPONSIVE 


@media (max-width: 768px) {

    .project {
        img {
            display:none !important;
        }

        &-heading {
            text-align: center;
            margin-top: 3rem;
            margin-bottom:0;
        }
    
        &-intro {
            display:block;
            justify-content:space-around;
            margin-bottom: 2em;
            &-inputs {
                font-size:0.8em;
                margin:0;
            }
        }
    

    &-intro {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4em;
        &-inputs {
            .input-title {
                font-size: 1.2em;
                font-weight: 600;
                color: $dark-cerulean;
            }
        }
    }

    &-filter {
        padding: 3rem;
        display:flex;
        justify-content:space-around;
        margin:auto;
        & h3 {
           text-align:center;
           font-weight:700;
           font-size:1.7rem;
           color: $dark-cerulean;
        }
        
    }

    &-links {
        display: flex;
        flex-wrap: wrap;
        margin: 2em 0 4em;
        font-size: 1.2em;
        &-left {
            width: 45%;
        }
        &-right {
            &>ul>li {
                padding: .5em;
            }
        }
        &-validation {
            display: flex;
            &>input {
                height: 20px;
                width: 20px;
            }
            &>button {
                margin-bottom: 4em;
            }
        }
    }

}

.input {
    font-size: 1.2em;
    height: 35px;
    width: 350px;
    border: none;
    margin: 1em 0;
}

.add-file {
    margin-bottom: 2em;
}

.project-validation {
    margin: 0 2em;
    font-size: 1.2em;
    font-weight: bold;
}


@media (max-width: 1024px) {
    .project {
        img {
            display:none !important;
        }
    }
}
}