label {
    width: 100px;
    display: inline-block;
    font-size: 1.2em;
    margin-bottom: 1.5em;
}

.ui.input {

    &>input {
        margin-left: 3em;
    }
}

.ui.modal>.content {
    text-align: center;
}