@import 'src/styles/_vars.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &-logo {
    width: 80%;
    height: 80%;
    margin: 1em;
  }

  &-links {
    display: flex;
    align-items: center;
    margin-top: .5em;
  }

  &-link {
    padding: 1em;
    color: $eerie-black;
    font-size: 1.2em;
    margin-right: 1em;
  }
}

.button-link {
  padding: .5em .8em;
  border-radius: 4px;
  width: 150px;
  border: none;
  background-color: $yankees-blue;
  font-size: 16px;
  color: #FFF;

  &-subscribe {
    background-color: $dark-cerulean;
  }
}

@media (max-width: 750px) {
  .navbar-links {
    display: none;
  }
}

.modal {

  &-close {
    padding: 1em;
    background: #fff;
    border: 2px solid #eee;
    border-radius: 50%;
    float: right;

    &-send {
      border-radius: 2px;
      margin: 1em;
    }
    
    &>img {
      height: 20px;
      width: 20px;

    }
  }

  &-form {

    &>label, input {
    display: block;
    text-align: center;
    margin: .8em auto;
    padding: .5em;
    width: 80%;
    font-size: 1.5em;
    }
  } 
}