
$yankees-blue: #1B263B; 
$dark-cerulean: #1C4082;
$easy-blue: #123456;
$eerie-black: #0D1B2A; 
$black: #000;
$shadow-blue: #778DA9;
$gainsboro:#E2E9ED;
$links:#4183c4;

$font-slab: 'Roboto Slab', serif;
$font-roboto: 'Roboto', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
$font-alternates: 'Montserrat Alternates', sans-serif;