@import 'src/styles/_vars.scss';


.project {

  &-title, &-presentation, &-team, &-description {
    padding : 2rem;
    & h1 {
      font-weight: 700;
      text-align : center;
      color: $easy-blue;
      font-size: 2em;
      padding-bottom:1rem;
      border-bottom : solid lightgrey 1px;
    }
    & p {
      margin:1rem;
      text-align:center;
      font-size: 1.5em;
    } 
  }

  &-presentation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &-content{
      width:90%;
      align-self: flex-end;
      &-icons, &-text, &-progress {
        width:80%;
        margin-top: 5rem;
      }
      & i {
        font-size:2em;
        margin-right:0.5rem
      }
      &-text {
        font-size:1.5em;
      }
    }
    &-avatar {
      padding:0.6rem;
      border-radius: 25px;
    }
  }

  &-description {
    &h1 {
      font-weight: 700;
    }
    &-text {
      margin: 4rem 0;
      padding: 1rem;
      font-size: 1.5em; 
    }
    &-actions {
      display:flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 1.5em;
      width:90%;
      margin: 3rem auto;
      &-right-git {
      margin-right:2rem;
      }
    }
  }
  &-comments {
      border-top : solid grey 1px;
      margin-bottom: 4rem;
    }

}

@media (max-width: 768px) {
  .project {
    width:100%;
      &-title, &-presentation, &-description, &-team {
      border-top :0;
      padding : 0;
      & h1 {
        font-size: 700;
        text-align : center;
        font-size: 1.5em;
        margin-bottom:0;
      }
      & p {
        margin:1rem;
        font-size:1em;
        margin-bottom:.5rem;
      }

    }
    &-team {
      margin:0;
      padding:0;
      & h1 {
        font-size: 600;
        font-size: 0.8em;
        margin:0.5rem;
      }
      & .team-members {
        padding:0;
        margin:0.1rem;
      }
      & .team-member {
        padding:0;
        margin:0;
        & img {
        display:none;
       }
       & h3, & p {
         font-size:0.8em;
       }
    }
    }
  
    &-presentation {
      display: block;
      &-content{
        width:100%;
        &-icons, &-text, &-progress {
          width:100%;
          margin-top: 1rem;
        }
        & i {
          font-size:2em;
          margin-right:0.5rem
        }
        &-text {
          font-size:1em;
        }
      }
      &-avatar {
        display:none;
      }
    }
  
    &-description {
      & h1 { 
        display:none;
      }
      &-text {
        display:none;
      }
      &-files {
        display:none;
      }
      &-actions {
        font-size: 1.2em;
        flex-direction:column;
        width: 100%;
        text-align:center;
      }
    }
    &-comments {
      display:none;
      }
  
  }
}