@import 'src/styles/_vars';

.project-container {
    width: 70%;
    margin: 4rem auto 6em auto;
}

.ui.selection.dropdown {
    margin: 1rem 0 !important;
}

.ui.icon.input {
    margin:1rem 0 !important;
    width: 100% !important;
}

.radio {
    margin-top:2rem;
    display:flex;
    justify-content: space-around;
        &-left, &-right {
            display:flex;
        }
        &-label {
            margin-left:0.5rem;
            font-weight: 500;
            font-size:1.1em;
        }
}

.item-follow {
    font-weight: 400;
    float:right;
    color: #000;
    vertical-align: baseline;
    font-size: 1.5em;
    &>svg {
        margin-right: .6em;
    }
}

.description {
    font-size: 1.5em;
}

@media (max-width:768px) {

    .project-container {
        width: 90%;
        margin: 0 auto;
        padding:0;
        &-inputs {
            margin:0 auto;
            padding:0;
            & .ui.icon.input{
                display:none;
            }
        }
        &-divider2 {
            margin:0;
        }
    }
    .ui.input {
        margin:0!important;
        padding:0!important;
        }

    .radio {
        margin-top:2rem;
        display:flex;
        justify-content: space-around;
            &-left, &-right {
                display:flex;
            }
            &-label {
                margin-left:0.3rem;
                margin-top:0.25rem;

                & h3 {
                    font-size:0.8em;
                }
            }
    }

    .item-follow {
        width:90%;
        font-weight: 400;
        float:right;
        color: #000;
        vertical-align: start;
        font-size: 1.5em;
        
        &>svg {
            margin-right: .6em;
        }
    }

    .description {
    font-size: 1.5em;
    }

}