.projects-container {
    width: 70%;
    margin: auto auto 6em auto;

    &-inputs {
        margin: 6em 0 3em;
    }
    
}

.input {
    margin-left: 4em;
}
.ui.fitted.toggle.checkbox {
    margin: 1em 0;
}
.radio {
    display: flex;
    margin: 2em 0;
}

h4 {
    margin: 1em 2em; 
}
